{{- /* Root-absolute internal paths ("/hpc/...", "/cs/...") refer to the current language's tree:
       prefix them with the language prefix ("" for the default language, "/en", "/ru", "/zh").
       Paths already starting with /en/, /ru/ or /zh/ are explicit cross-language references. */ -}}
{{- $dest := .Destination -}}
{{- if and (strings.HasPrefix $dest "/") (not (strings.HasPrefix $dest "//")) (not (or (strings.HasPrefix $dest "/en/") (strings.HasPrefix $dest "/ru/") (strings.HasPrefix $dest "/zh/"))) (not (fileExists (printf "static%s" $dest))) -}}
  {{- $dest = printf "%s%s" .Page.Site.LanguagePrefix $dest -}}
{{- end -}}
<a href="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text }}</a>
